body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#game-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

#spaceships {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

#player-ship,
#alien-ship {
  text-align: center;
}
img {
  width: 150px;
  height: auto;
}
